#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header img {
  width: 100px;
}

.bio {
  color: #888;
}

.link {
  padding: 5px;
}

.icon {
  float: left;
  vertical-align: middle;
  margin-top: 2px;
}
